mixin menu_button(id, value)
  button.btn.btn-primary.m-2(id=id type='button')= value

mixin event_modal(id, value)
  button.btn.event-modal.m-2(id=id type='eventModal')= value

mixin chat_button(id, value)
  button.btn.btn-primary.m-2(id=id type='button')= value

mixin formInput(elementId, placeholder, value, inputType='text')
  - var id='input' + elementId
  - var helpId=elementId + 'Help'
  .input-badge.pb-1
    block
    input.form-control(id=id type=inputType placeholder=placeholder name=elementId value=value)&attributes(attributes)
