include ../common

mixin participant()
  p4.p-3 {{name}}

mixin rsvp_col(title, subtitle)
  - var id = title + "-participants"
  .col(id=id)
    h1.tableTitle.mb-0= title
    h6= subtitle
      span.pl-2
        | ({{#{title}.length}})
    .names.d-flex.flex-row.flex-wrap.justify-content-center
        | {{##{title}}}
        +participant()
        | {{/#{title}}}

template#event-participant
  +participant()

template#event-details-content
  .event-modal-large.col-12.text-center.p-4
    .col-12
      h1 December 25
      h6 Secret Santa 2020
    .d-flex.flex-row
      +rsvp_col("naughty", "hasn't rsvp'd")
      +rsvp_col("nice", "has rsvp'd")
    .col-12
      +chat_button('draw-names-button', 'Draw Names')
      +chat_button('invite-link-button', 'Invite Guests')
